$white: #FFFFFF;
$bg-white:#f5f7fa;

$background-color: #11001B;


$purple-500: #982FCB;
$purple-600: #7C2FA1;
$purple-700: #CB2FC5;
$purple-800: #330649;
$purple-900: #230532;

$gray-100: #f8f9fc !default;
$gray-900: #151515 !default;


$container-width: 1340px;
