@use "variables" as variable;
@import "variables-mixins";


/*  Global config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: variable.$purple-900;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: variable.$purple-400;
  border-radius: 20px;
}

body {
  width: 100%;
  height: 100%;
  background: variable.$background-color;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}


p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: variable.$white;
  text-decoration: none;
}

fa-icon {
  color: variable.$purple-500;
}

.container {
  display: flex;
  justify-content: center;
}

.header-section {
  text-align: center;
  padding: 30px 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, variable.$purple-700 50%, rgba(variable.$purple-500, 0%) 100%);
  border-image-slice: 1;
  width: 90%;
}

.title {
  text-align: center;
  padding: 30px 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, variable.$purple-700 50%, rgba(variable.$purple-500, 0%) 100%);
  border-image-slice: 1;
  width: 90%;
}

.description {
  width: 90%;

  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    color: variable.$gray-100;
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 2;
    text-align: justify;

    @include responsive(mobilePlus) {
      font-size: 16px;
      word-spacing: 1px;
    }
  }

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  gap: 30px;
  width: 100%;
  max-width: variable.$container-width !important;

  @include responsive(tabletplus) {
    padding: 0 40px;
  }

  @include responsive(mobilePlus) {
    padding: 0 10px;
  }
}


/* ***************  */

//Header component style

.header {
  display: flex !important;
  justify-content: center;
  background-color: variable.$background-color;
  position: sticky;
  top: 0;
  z-index: 100;
}

mat-sidenav {
  display: none !important;
  min-height: 100vh;
  width: 70%;
  position: fixed !important;
  background: variable.$background-color !important;
  color: variable.$white !important;

  @include responsive(tabletplus) {
    display: block !important;
  }

  .logo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    color: variable.$purple-500;
    padding: 0.4rem;
    gap: 10px;
    font-weight: bold;



    h1 {
      width: 80%;
      font-size: 24px;

      @include responsive(mobile) {
        font-size: 18px;
      }

      @include responsive(tablet) {
        font-size: 20px;
      }
    }

    fa-icon {
      font-size: 40px !important;
      padding: 0 1rem 0 1rem;

      @include responsive(tablet) {
        font-size: 30px !important;
      }
    }

    #close {
      font-size: 35px !important;
    }
  }

  @include responsive(tabletplus) {
    width: 50%;
  }

  @include responsive(tablet) {
    padding: 0.8rem 0;
    width: 70%;
  }

  @include responsive(mobile) {
    width: 100%;
  }
}

mat-sidenav-content {
  min-width: 100vw;
  min-height: 100vh;
  overflow: initial !important;

  button {
    display: none !important;

    &:hover {
      transform: translateX(3px);
      transition: 0.3s;
    }

    @include responsive(tabletplus) {
      display: block !important;
    }
  }
}


.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
  border-color: variable.$purple-500;
  padding: 1rem;
  width: 100%;

  @include responsive(tabletplus) {
    padding: 10px 0;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: variable.$container-width;

  @include responsive(tabletplus) {
    display: flex;
    justify-content: space-between;

    .nav-links {
      display: none !important;
    }
  }
}

mat-sidenav-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute !important;
  overflow: initial !important;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;

  @include responsive(mobile) {
    font-size: 16px;
  }

  fa-icon {
    font-size: 40px;

    @include responsive(mobile) {
      font-size: 25px;
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    gap: 30px;

    @include responsive(tabletplus) {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 40px 0 40px 0;
      justify-content: center;
    }
  }

  li {
    display: flex;
    padding: 5px;
  }
}

.link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.2s;

  &:hover {

    transition: 0.2s;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-image: linear-gradient(90deg, variable.$purple-700 60%, rgba(variable.$purple-500, 0) 100%);
    border-radius: 12px;
    transition: all 0.4s ease;
  }

  &:hover:before {
    width: 100%;
  }

  @include responsive(mobile) {
    font-size: 18px;
  }
}

/* ***** Profile component Style ***** */

#perfil {
  @include responsive(mobilePlus) {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;

  }

  @include responsive(tabletplus) {
    height: 600px;
  }
}

.profile {
  display: flex;
  padding: 0 90px;
  height: 80vh;
  padding-top: 10vh;
  align-items: center;
  max-height: 600px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: variable.$container-width;

  @include responsive(tabletplus) {
    padding: 60px;
  }

  @include responsive(mobilePlus) {
    flex-direction: column-reverse;
    padding: 50px 20px !important;
    justify-content: center;
    gap: 50px;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;

    @include responsive(tabletplus) {
      font-size: 40px;
    }

    @include responsive(tablet) {
      font-size: 36px;
    }

    @include responsive(mobile) {
      font-size: 30px;
    }

  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    color: variable.$purple-400;

    @include responsive(tabletplus) {
      font-size: 28px;
    }

    @include responsive(tablet) {
      font-size: 24px;
    }

  }

  p {
    font-size: 48px;
    font-weight: 700;

    @include responsive(tabletplus) {
      font-size: 40px;
    }

    @include responsive(tablet) {
      font-size: 36px;
    }

    @include responsive(mobile) {
      font-size: 30px;
    }

  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    @include responsive(mobilePlus) {
      width: 100%;
      align-items: center;
    }
  }

  .welcome {
    @include responsive (mobilePlus) {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      margin-top: 30px;
    }
  }

  .actions {
    margin: 40px 0;
    display: flex;
    gap: 30px;

    @include responsive(mobilePlus) {
      margin: 30px 0;
    }

    a {
      padding: 8px 40px;
      border-radius: 40px;
      font-size: 16px;
      font-weight: 500;
      transition: 0.4s;

      @include responsive(mobile) {
        font-size: 14px
      }

      &#linkedin {
        background: variable.$purple-500;
        border: 4px solid variable.$purple-500;

        &:hover {
          background-color: transparent;
          transform: scale(0.95)
        }
      }

      &#github {
        background: transparent;
        border: 4px solid variable.$purple-500;

        &:hover {
          background-color: variable.$purple-500;
          transform: scale(0.95)
        }
      }

    }
  }

  .avatar {
    display: flex;
    justify-content: end;
    width: 300px;
    height: 300px;
    /* Border multi color */
    background-image: linear-gradient(90deg,
        variable.$purple-700 30%,
        variable.$purple-400 60%,
        variable.$purple-500 100%);
    background-origin: border-box;
    box-shadow: inset 0 100vw variable.$background-color;
    border: 5px solid transparent;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 10s linear infinite;
    transition: 0.3s;

    &:hover {
      transform: scale(0.95);
    }

    img {
      width: 100%;
      height: 100%;
    }


    @include responsive(tabletplus) {
      width: 270px;
      height: 270px;
    }

    @include responsive(tablet) {
      width: 250px;
      height: 250px;
    }

    @include responsive(mobilePlus) {
      width: 200px;
      height: 200px;
    }
  }
}


/*  About section */

#sobre {
  padding-top: 100px;
}



/*  Skill section */
#habilidades {
  min-height: 500px;
  padding-top: 150px;

  .description {
    p {
      height: 70px;
      text-align: center;
      animation-name: fadeIn;
      animation-duration: 0.5s;
    }
  }

}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 90%;

  mat-card {
    width: 110px;
    height: 110px;
  }
}

.example-card {
  max-width: 400px;

}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515 !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: variable.$purple-400 !important;
  padding: 10px 5px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 12px;
  transition: 0.3s !important;

  p {
    color: variable.$purple-400;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0px 5px 15px 5px variable.$purple-800;
    transform: translateY(-5px) !important;
    border-color: variable.$purple-600 !important;
  }

}

/*  Projects section */
#projetos {
  padding-top: 150px;
  margin-bottom: 150px;
}

.repo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  gap: 40px 10px;
  padding-top: 70px;
  justify-content: space-evenly;

  mat-card {
    width: 430px;
    padding: 20px;
    align-items: start;

    &:hover {
      transform: translateY(0) !important;
      border-color: variable.$purple-400 !important;

      .placeholder {
        opacity: 0;
      }

      .techs {
        animation-duration: .3s;
        animation-timing-function: cubic-bezier(.165, .84, .44, 1);
        animation-fill-mode: forwards;
        animation-name: fadein;
        animation-delay: 30ms;
      }
    }

    @include responsive(notebook) {
      width: 600px;
      padding: 40px;
    }

    @include responsive(mobilePlus) {
      padding: 30px;
    }
  }

  mat-card-header {
    display: flex;
    padding: 10px 0;
    font-weight: 700;
    font-size: 20px;
    width: 50%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, variable.$purple-700 30%, rgba(variable.$purple-500, 0%) 80%);
    border-image-slice: 1;
  }

  mat-card-title {
    color: white;
    width: 100%;
  }

  mat-card-content {
    padding: 15px 0;

    @include responsive(notebook) {
      padding: 30px 0;
    }

    @include responsive(mobilePlus) {
      padding: 15px 0;
    }
  }

  mat-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  mat-card-actions {
    padding: 0;
    font-size: 14px;
  }

  a {
    display: flex;
    gap: 10px;
    padding: 10px 0;
  }

  p {
    text-align: justify;
    color: white;
    font-weight: 300 !important;
    font-size: 16px;
  }

  .skills {
    gap: 5px;
    max-width: 50%;
    justify-content: end;

    a {
      position: relative;
      width: 20px;
      height: 20px;
    }
  }

  .placeholder {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 10px;
    bottom: 5px;
    border-radius: 100%;
    background: variable.$gray-200;
  }

  .techs {
    opacity: 0;

    img {
      bottom: 10px;
    }
  }
}

#contato {
  min-height: 500px;
}
