<main>
  <section id="about">
    <div class="container">
      <div class="profile">
        <div class="intro">
          <div class="welcome">
            <p>Olá,</p>
            <h1>Sou o Alisson Lima</h1>
            <h2>
              <ngx-typed-writer
                [strings]="[
                  'Desenvolvedor Full Stack',
                  'Analista de Sistemas',
                  'Apaixonado por tecnologia!'
                ]"
                [cursorChar]="'_'"
                [showCursor]="true"
                [backSpeed]="30"
                [typeSpeed]="100"
                [backDelay]="3000"
              >
              </ngx-typed-writer>
            </h2>

            <noscript>
              <h2 id="jobs-hobbies">
                Desenvolvedor Full Stack, Analista de Sistemas, Apaixonado por
                tecnologia.
              </h2>
            </noscript>
            <p></p>
          </div>

          <div class="actions">
            <a
              id="linkedin"
              href="https://www.linkedin.com/in/alissonlimadev/"
              target="_blank"
              >LinkedIn</a
            >
            <a
              id="github"
              href="https://github.com/alissonlimabr"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
        <div>
          <a
            class="avatar"
            href="https://www.linkedin.com/in/alissonlimadev/"
            target="_blank"
          >
            <img src="assets/img/profile.png" alt="avatar" href="" />
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="title">
          <h2>Sobre mim</h2>
        </div>
        <div class="description">
          <p>
            Natural de Rio Branco/AC, me graduei em Análise e Desenvolvimento de
            Sistemas em 2019. Atuei no desenvolvimento web como Freelancer entre
            2020 e 2021. Em 2022 me capacitei no Desenvolvimento Web Full Stack
            pela Universidade Federal do Acre em um projeto fomentado pela
            Motorola e Instituto Eldorado. Atualmente, atuo como Analista de
            Sistemas e Desenvolvedor na empresa Contax S.A.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="habilidades">
    <div class="skills">
      <div class="content">
        <div class="title">
          <h2>Habilidades</h2>
        </div>
      </div>
    </div>
  </section>
</main>
