<section
  id="perfil"
  id="perfil"
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-sine"
  data-aos-offset="0"
>
  <div class="container">
    <div class="profile">
      <div class="intro">
        <div class="welcome">
          <h1>Portfólio</h1>
          <h2>Alisson Lima</h2>
          <p>
            <ngx-typed-writer
              [strings]="[
                'Desenvolvedor Full Stack',
                'Analista de Sistemas',
                'Contate-me'
              ]"
              [cursorChar]="'.'"
              [showCursor]="true"
              [backSpeed]="30"
              [typeSpeed]="100"
              [backDelay]="3000"
            >
            </ngx-typed-writer>
          </p>
          <p></p>
        </div>

        <div class="actions">
          <a
            id="linkedin"
            href="https://www.linkedin.com/in/alissonlimadev"
            target="_blank"
            >LinkedIn</a
          >
          <a id="github" href="https://github.com/alissonlimabr" target="_blank"
            >GitHub</a
          >
        </div>
      </div>
      <div>
        <a
          class="avatar"
          href="https://www.linkedin.com/in/alissonlimadev/"
          target="_blank"
        >
          <img
            src="assets/img/profile.webp"
            alt="Avatar Alisson Lima"
            height="300"
            width="300"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</section>
<section id="sobre" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Sobre mim</h2>
      </div>
      <div class="description">
        <p>
          Olá, sou Alisson Lima, Desenvolvedor Full Stack com experiência em
          Java, Spring Boot, Angular, AWS e outras tecnologias, além de
          metodologias ágeis como Scrum e Kanban. Nasci em Rio Branco, Acre, sou
          graduado em Análise e Desenvolvimento de Sistemas e Pós-Graduado em
          Engenharia de Software. Como Desenvolvedor web, estou sempre em busca
          da excelência nos campos em que atuo. Desse modo, sempre participo de
          bootcamps ou desenvolvo uma nova ideia, seja um projeto front-end,
          back-end ou full stack, a fim de refinar meus conhecimentos e
          aprimorar minhas habilidades.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="habilidades" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Habilidades</h2>
      </div>
      <div class="description">
        <h3>
          Possuo conhecimentos e já desenvolvi projetos com essas tecnologias!
        </h3>
      </div>
      <div class="skills">
        <!--Skill -->
        <mat-card
          [attr.data-aos]="skill.aosAnimation"
          *ngFor="let skill of mySkills"
        >
          <img
            mat-card-image
            [src]="skill.icon"
            width="45"
            height="45"
            [alt]="skill.alt"
          />
          <h4>{{ skill.name }}</h4>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section id="trabalhos" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Experiência</h2>
      </div>
      <div class="jobs">
        <!-- -->
        <mat-list class="job-list">
          <div class="title">
            <mat-button-toggle-group
              class="button-group"
              appearance="legacy"
              name="fontStyle"
              aria-label="Font Style"
              #group="matButtonToggleGroup"
              *ngFor="let job of jobs"
            >
              <mat-button-toggle
                class="button-jobs"
                (click)="selectJob(job)"
                [checked]="selectedJob === job"
              >
                <img [src]="job.icon" alt="empresa" width="30" height="30" />
                {{ job.company }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-list>

        <ng-container *ngFor="let job of selectedJob ? [selectedJob] : []">
          <mat-card class="job-details" [@fadeIn]>
            <mat-card-header>
              <mat-card-title class="title">
                <h3>
                  {{ job.position }}
                  <strong>| {{ job.company }}</strong>
                </h3>
                <p>{{ job.duration }}</p>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let description of job.description" class="activity">
                <fa-icon [icon]="faCodeCommit"></fa-icon>
                <p>
                  {{ description }}
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section id="projetos" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Projetos</h2>
      </div>
      <div class="repo">
        <!--Project 1 -->
        <mat-card
          data-aos="fade-right"
          data-aos-offset="150"
          data-aos-easing="ease-in-sine"
        >
          <mat-card-header>
            <mat-card-title>
              <h3>Motovoice</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Sistema de coleta de ideias e feedbacks de produtos Motorola,
              desenvolvido em Spring Boot e Angular e conta com um painel de
              gerenciamento e insights da plataforma (admin). O sistema foi um
              produto sob demanda para a conclusão da 1⁰ turma do curso
              WebAcademy.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a
                class="link"
                href="https://motovoice.alissonlimadev.com/"
                target="_blank"
                aria-label="Clique para acessar o projeto: Motovoice."
              >
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                <p>Acesse o projeto</p>
              </a>
            </mat-card-actions>
            <div class="skills">
              <span *ngFor="let skill of skillsMotoVoice">
                <div class="placeholder"></div>
                <div class="techs">
                  <img
                    mat-card-image
                    [src]="skill.icon"
                    width="20"
                    height="20"
                    [alt]="skill.alt"
                  />
                </div>
              </span>
            </div>
          </mat-card-footer>
        </mat-card>
        <!--Project 2 -->
        <mat-card
          data-aos="fade-left"
          data-aos-offset="150"
          data-aos-easing="ease-in-sine"
        >
          <mat-card-header>
            <mat-card-title>
              <h3>Autenticação JWT</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Microsserviço de autenticação JWT desenvolvido em Java, Spring
              Boot, Spring Security 6 e Java 17. O projeto foi orquestrado no
              Azure utilizando Kubernetes e Docker. Também desenvolvi um
              front-end em Angular para consumir esse microsserviço.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a
                class="link"
                href="https://github.com/alissonlimabr/microservice-login-jwt"
                target="_blank"
                aria-label="Clique para acessar o projeto: Microservice Login JWT."
              >
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                <p>Acesse o projeto</p>
              </a>
            </mat-card-actions>
            <div class="skills">
              <span *ngFor="let skill of skillsAuthJwt">
                <div class="placeholder"></div>
                <div class="techs">
                  <img
                    mat-card-image
                    [src]="skill.icon"
                    width="20"
                    height="20"
                    [alt]="skill.alt"
                  />
                </div>
              </span>
            </div>
          </mat-card-footer>
        </mat-card>
        <!--Project 3 -->
        <mat-card
          data-aos="fade-right"
          data-aos-offset="150"
          data-aos-easing="ease-in-sine"
        >
          <mat-card-header>
            <mat-card-title>
              <h3>Portfólio Desenvolvedor</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              O site visa demonstrar meus projetos Front-end e Back-end,
              habilidades profissionais, trabalhos realizados e muito mais. A
              ideia desse portfólio é permitir que você me conheça melhor. Para
              isso, criei o protótipo no Figma e o desenvolvi utilizando o
              framework Angular, juntamente com Angular Material e SCSS.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a
                class="link"
                href="https://github.com/alissonlimabr/portfolio"
                target="_blank"
                aria-label="Clique para acessar o projeto: Portfolio."
              >
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                <p>Acesse o projeto</p>
              </a>
            </mat-card-actions>
            <div class="skills">
              <span *ngFor="let skill of skillsPortfolio">
                <div class="placeholder"></div>
                <div class="techs">
                  <img
                    mat-card-image
                    [src]="skill.icon"
                    width="20"
                    height="20"
                    [alt]="skill.alt"
                  />
                </div>
              </span>
            </div>
          </mat-card-footer>
        </mat-card>
        <!--Project 4 -->
        <mat-card
          data-aos="fade-left"
          data-aos-offset="150"
          data-aos-easing="ease-in-sine"
        >
          <mat-card-header>
            <mat-card-title>
              <h3>Reset Password</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Módulo de recuperação de senhas via e-mail desenvolvido em Java 17
              e Spring Boot. Para demonstar o uso da aplicação, criei um
              front-end em Angular e integrei à API. O projeto conta com um
              pipeline de CI/CD via GitHub Actions para deploy na AWS.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a
                class="link"
                href="https://github.com/alissonlimabr/forgotPassword"
                aria-label="Clique para acessar o projeto: ResetPassword."
                target="_blank"
              >
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                <p>Acesse o projeto</p>
              </a>
            </mat-card-actions>
            <div class="skills">
              <span *ngFor="let skill of skillsResetPassword">
                <div class="placeholder"></div>
                <div class="techs">
                  <img
                    mat-card-image
                    [src]="skill.icon"
                    width="20"
                    height="20"
                    [alt]="skill.alt"
                  />
                </div>
              </span>
            </div>
          </mat-card-footer>
        </mat-card>
        <!--Project 5 -->
        <mat-card
          data-aos="fade-right"
          data-aos-offset="150"
          data-aos-easing="ease-in-sine"
        >
          <mat-card-header>
            <mat-card-title>
              <h3>Plataforma de eventos</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Plataforma de hospedagem de vídeos e aulas desenvolvida utilizando
              ReactJs, Vite, GraphQL e Tailwind. O projeto foi fomentado pela
              Rocketseat através do curso Ignite Lab.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a
                class="link"
                href="https://github.com/alissonlimabr/event-plataform-reactjs"
                aria-label="Clique para acessar o projeto: Plataforma de eventos."
                target="_blank"
              >
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                <p>Acesse o projeto</p>
              </a>
            </mat-card-actions>
            <div class="skills">
              <span *ngFor="let skill of skillsEventPlataform">
                <div class="placeholder"></div>
                <div class="techs">
                  <img
                    mat-card-image
                    [src]="skill.icon"
                    width="20"
                    height="20"
                    [alt]="skill.alt"
                  />
                </div>
              </span>
            </div>
          </mat-card-footer>
        </mat-card>
        <!--Project 6 -->
        <mat-card
          data-aos="fade-left"
          data-aos-offset="150"
          data-aos-easing="ease-in-sine"
        >
          <mat-card-header>
            <mat-card-title>
              <h3>Em Desenvolvimento</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="upcoming">
            <p>
              Ainda estou desenvolvendo esse projeto, mas ele já tem lugar
              reservado aqui no portfólio!
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<section id="contato" data-aos="zoom-out-up" data-aos-offset="100">
  <div class="container">
    <div class="content">
      <div class="title">
        <h2>Contato</h2>
      </div>
      <div class="description">
        <h3>
          Possui alguma dúvida? Entre em contato comigo através dos canais
          abaixo!
        </h3>
      </div>
      <div class="social-links">
        <div
          class="social"
          [attr.data-aos]="social.aosAnimation"
          *ngFor="let social of socialMedia"
        >
          <a
            class="btn"
            aria-label="Acesse minha rede social"
            [href]="social.url"
            [target]="social.name === 'Gmail' ? '_self' : '_blank'"
            [ariaLabel]="social.alt"
          >
            <img
              [src]="social.icon"
              width="100"
              height="100"
              [alt]="social.alt"
            />
          </a>
          <h4>{{ social.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<app-particles-animation id="particles"></app-particles-animation>
