<main>
  <section id="perfil">
    <div class="container">
      <div class="profile">
        <div class="intro">
          <div class="welcome">
            <p>Olá,</p>
            <h1>Sou o Alisson Lima</h1>
            <h2>
              <ngx-typed-writer
                [strings]="[
                  'Desenvolvedor Full Stack',
                  'Analista de Sistemas',
                  'Apaixonado por tecnologia'
                ]"
                [cursorChar]="'.'"
                [showCursor]="true"
                [backSpeed]="30"
                [typeSpeed]="100"
                [backDelay]="3000"
              >
              </ngx-typed-writer>
            </h2>

            <noscript>
              <h2 id="jobs-hobbies">
                Desenvolvedor Full Stack, Analista de Sistemas, Apaixonado por
                tecnologia.
              </h2>
            </noscript>
            <p></p>
          </div>

          <div class="actions">
            <a
              id="linkedin"
              href="https://www.linkedin.com/in/alissonlimadev/"
              target="_blank"
              >LinkedIn</a
            >
            <a
              id="github"
              href="https://github.com/alissonlimabr"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
        <div>
          <a
            class="avatar"
            href="https://www.linkedin.com/in/alissonlimadev/"
            target="_blank"
          >
            <img src="assets/img/profile.png" alt="avatar" href="" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="sobre" data-aos="zoom-out-up">
    <div class="container">
      <div class="content">
        <div class="header-section">
          <h2>Sobre mim</h2>
        </div>
        <div class="description">
          <p>
            Natural de Rio Branco/AC, me graduei em Análise e Desenvolvimento de
            Sistemas em 2019. Atuei no desenvolvimento web como Freelancer entre
            2020 e 2021. Em 2022 me capacitei no Desenvolvimento Web Full Stack
            pela Universidade Federal do Acre em um projeto fomentado pela
            Motorola e Instituto Eldorado. Sou um grande curioso quando os
            assuntos são tecnologia, IA, obras de ficção científica e
            astronomia.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="habilidades" data-aos="zoom-out-up">
    <div class="container">
      <div class="content">
        <div class="title">
          <h2>Habilidades</h2>
        </div>
        <div class="description">
          <p>Conheça algumas das tecnologias que já trabalhei:</p>
        </div>
        <div class="skills">
          <!--Skill 1 -->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/java-icon.svg"
              height="45"
              height="45"
              alt="Java Icon"
            />
            <p>Java</p>
          </mat-card>
          <!-- skill 2-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/springboot-icon.svg"
              height="45"
              height="45"
              alt="Springboot icon"
            />
            <p>Springboot</p>
          </mat-card>
          <!-- skill 3-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/typescript-icon.svg"
              height="45"
              height="45"
              alt="Typescript Icon"
            />
            <p>Typescript</p>
          </mat-card>
          <!-- skill 4-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/angular-icon.svg"
              height="45"
              height="45"
              alt="Angular icon"
            />
            <p>Angular</p>
          </mat-card>
          <!-- skill 5-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/nodejs-icon.svg"
              height="45"
              height="45"
              alt="Nodejs icon"
            />
            <p>Nodejs</p>
          </mat-card>
          <!-- skill 6-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/aws-icon.svg"
              height="45"
              height="45"
              alt="Amazon Web Service (AWS) icon"
            />
            <p>AWS Cloud</p>
          </mat-card>
          <!--Skill 7 -->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/azure-icon.svg"
              height="45"
              height="45"
              alt="AZure Icon"
            />
            <p>Azure</p>
          </mat-card>
          <!-- skill 8-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/docker-icon.svg"
              height="45"
              height="45"
              alt="Docker icon"
            />
            <p>Docker</p>
          </mat-card>
          <!-- skill 9-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/git-icon.svg"
              height="45"
              height="45"
              alt="Git Icon"
            />
            <p>Git</p>
          </mat-card>
          <!-- skill 10-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/figma-icon.svg"
              height="45"
              height="45"
              alt="Figma icon"
            />
            <p>Figma</p>
          </mat-card>
          <!-- skill 11-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/bootstrap-icon.svg"
              height="45"
              height="45"
              alt="Bootstrap icon"
            />
            <p>Bootstrap</p>
          </mat-card>
          <!-- skill 12-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/angular-material-icon.svg"
              height="45"
              height="45"
              alt="Angular Material icon"
            />
            <p>Angular Material</p>
          </mat-card>
          <!-- skill 13-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/tailwind-icon.svg"
              height="45"
              height="45"
              alt="Tailwind 5 icon"
            />
            <p>Tailwind</p>
          </mat-card>
          <!-- skill 14-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/mysql-icon.svg"
              height="45"
              height="45"
              alt="MySQL icon"
            />
            <p>MySQL</p>
          </mat-card>
          <!-- skill 15-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/graphql-icon.svg"
              height="45"
              height="45"
              alt="Graphql icon"
            />
            <p>GraphQL</p>
          </mat-card>
          <!-- skill 16-->
          <mat-card data-aos="zoom-out-down">
            <img
              mat-card-image
              src="assets/icons/rxjs-icon.svg"
              height="45"
              height="45"
              alt="Rxjs icon"
            />
            <p>RxJs</p>
          </mat-card>
          <!-- skill 17-->
          <mat-card data-aos="zoom-out-up">
            <img
              mat-card-image
              src="assets/icons/junit5-icon.svg"
              height="45"
              height="45"
              alt="Junit 5 icon"
            />
            <p>Junit</p>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <section id="projetos" data-aos="zoom-out-up">
    <div class="container">
      <div class="content">
        <div class="title">
          <h2>Projetos</h2>
        </div>
        <div class="repo">
          <!--Project 1 -->
          <mat-card> </mat-card>
        </div>
      </div>
    </div>
  </section>
</main>
