@use "src/assets/scss/palette" as tokens;
@use "src/assets/scss/variables-mixins" as *;

.footer {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 20px;

  @include responsive(mobilePlus) {
    padding: 0;
  }
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: tokens.$container-wide-max-width;

  @include responsive(mobilePlus) {
    justify-content: center;
    gap: 10px;
  }

  p {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: white;
    gap: 10px;

    a {
      color: tokens.$purple-400;
      text-decoration: none;
      font-weight: 700;
      transition: 0.3s;

      &:hover {
        color: tokens.$purple-500;
      }
    }

    @include responsive(mobile) {
      font-size: 12px;
      gap: 5px;
      justify-content: center;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    .logo-dev {
      color: tokens.$purple-300;
    }

    p {
      font-size: 16px;
      gap: 0;

      @include responsive(mobile) {
        font-size: 12px;
      }
    }

    fa-icon {
      font-size: 25px;

      @include responsive(mobile) {
        font-size: 20px;
      }
    }
  }
}
