<!-- app.component.html -->
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <span class="logo">
      <fa-icon [icon]="faCode"></fa-icon>
      <h1>ALISSONLIMADEV</h1>
      <fa-icon id="close" [icon]="faXmark" (click)="sidenav.toggle()"></fa-icon>
    </span>
    <span class="nav-links">
      <ul>
        <li (click)="closeSideNav()">
          <a class="link" href="#perfil">Perfil</a>
        </li>
        <li (click)="closeSideNav()">
          <a href="#sobre">Sobre mim</a>
        </li>
        <li (click)="closeSideNav()">
          <a class="link" href="#habilidades">Habilidades</a>
        </li>
        <li>
          <a (click)="closeSideNav()" class="link" href="#projetos">Projetos</a>
        </li>
        <li (click)="closeSideNav()">
          <a class="link" href="#contato">Contato</a>
        </li>
      </ul>
    </span>
  </mat-sidenav>

  <!-- Layout -->
  <mat-sidenav-content>
    <!-- Header -->
    <header>
      <app-header class="header" (openSidenav)="sidenav.toggle()"></app-header>
    </header>
    <!-- main -->
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- footer -->
    <footer>
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
